body {
	background-color: #5c9fe0;
	margin: 0;
}
nav {
	text-align: center;
	width: 100%;
	margin: 50px 0 20px;
    font-size: 25px;
}
nav a {
	color: #555;
	text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}
nav a:hover {
	color: #000;
}
ul {
	list-style-type: none;
	display: inline;
}
li {
	display: inline-block;
	width: 150px;
}
h2 {
	text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 45px;
}
#speelveld {
	text-align: center;
}
table {
	border: 1px solid #000;
	display: inline;
	margin: 2px;
}
tr {
	
}
h2 {
	text-align: center;
}
footer {
	background-color: #5c9fe0;
	position: fixed; 
	bottom: 0px;
	padding-bottom: 6px;
	margin: 0;
	width: 100%;
	text-align: center;
	
}
